body {
  background-image: url('http://subtlepatterns.com/patterns/paper.png');
}
#context {
  margin-top: 10px;
}
#editor {
  margin-top: 2em;
}

#editor button {
  margin: 0 -10px;
  height: 120%;
}

#context input {
  height: 2.2em;
  font-size: 1.2em;
}

#wall {
  margin-top: 2em;
}

.input-group-addon {
  padding: 0 10px;
  margin: 0;
}

.input-group-addon button {
  margin: 0 -10px;

}
